@import url(./normalize.css);
@import url(./reset.css);

/* 본문 스타일 */
body {
  background: lightyellow;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* alt+z하면 화면에 맞게 길이조절됨 개꿀 */
  font-weight: 900;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 -이렇게 주석 달아주는 게 좋다.*/
.header {
  background: pink;
    padding: 0 30px;
      height: 15vh;
}

/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/*  */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
  height: 15vh;
}