@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨김컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
body {
  /* em, rem 단위 사용해보기 */
  color: #212121;
    font-size: 1.4rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: url(./images/bg_flower.png) no-repeat 50% 0,
        #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 100%) repeat 0 0;
  /* alt+z하면 화면에 맞게 길이조절됨 개꿀 */
}
/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 -이렇게 주석 달아주는 게 좋다.*/
.header {
  background: #fff;
    padding: 0 30px;
  border-radius: 0 0 15px 15px;
    position: relative;
  }
  
  /* 로고 */
  .logo {
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 1000;
  }
  
/* 텍스트 링크 모음*/
        .member {
    text-align: right;
      padding: 4px 0;
    /* padding 속성을 활용하여 .member 영역을 오른쪽으로 10px 만큼 이동하는 방법 */
      /* position: relative;
            right: -10px; */
      transform: translateX(10px);
    }
    
        .member li {
    display: inline-block;
    }
    
        .member a {
    padding: 6px 10px;
      display: inherit;
      text-transform: uppercase;
    }
    
/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
}
*/
    
.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.menu {
  border-top: 2px solid #212121;
  background: #e85e2c linear-gradient(to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%);
  border-radius: 0 0 5px 5px;
    padding-left: 230px;
    height: 47px;
    position: relative;
    }
    
    .menu>li:nth-child(-n + 3) {
      position: relative;
}
.menu-item {
    float: left;
    border-left: 2px solid #fff;
}
  
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.is-active .menu-button {
  color: yellow;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid black;
}

.sub-menu {
  position: absolute;
    /* top: 47px; */
      padding: 4px 0;
      display: none;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}


.sub-menu a::before {
  content: '\e805';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e801';
}
.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu:focus {
  color: red;
}
/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: hsla(0, -0%, -0%, -0);
    transform: translate(0, 0);
  }

  100% {
    font-size: 24px;
    color: hsla(0, 0%, 0%, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes fadeEffect {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.visual {
  height: 120px;
  /* 배경애니메이션에 필요한 렐러티브 */
    position: relative;
  }
  
  .visual::before,
  .visual::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-name: fadeEffect;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .visual::before {
    background: url(./images/ani_flower_01.png) no-repeat 0% -10px, url(./images/ani_flower_02.png) no-repeat 65% 10px;
  }
  
  .visual::after {
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background-repeat: no-repeat;
    background-position: 38% 0, 90% 0;
    animation-delay: 1000ms;
  }
  
  .visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: moveEffect;
    animation-duration: 2000ms;
      animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /* display: inline-block; */
      /* z-index는 레이어일떄만 적용된다 즉, position을 줘서 띄워줘야 한다. */
      position: absolute;
      z-index: 1;
}

/* 메인 */
.navigation {
  padding-bottom: 40px;
}
.main {
  display: flow-root;
  background: #fff;
    min-height: 450px;
    padding: 30px 15px;
    border-radius: 15px 15px 0 0;
    /* overflow: hidden; */
    /* BFC 찾아보기, overflow 원리 알려면. */
  }
  
  .group {
    margin: 0 15px;
    float: left;
  }
  
.group1 {
  width: 250px;
  }
  
  .group2 {
    background: salmon;
    width: 380px;
  }
  
  .group3 {
    background: gold;
    width: 190px;
}

/* 로그인 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: orange radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}

.login-title {
  color: #ff0;
  font-size: 15px;
  font-weight: 700;
  /* margin/padding 대신 text-indent 도 이용가능. */
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.user-email,
.user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 8;
  border-radius: 5px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a::before {
  content: '\e804';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  color: orangered;
}
/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: red;
}

.validation-list a {
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 8px 15px 8px 45px;
  background: url(./images/validation_icon.png) no-repeat 25px 50%, #ccc linear-gradient(to bottom, #ccc, #eee) repeat 0 0;
}
/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/*푸터*/
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 100%);
}
.footer-inner {
  background: silver;
  height: 15vh;
}